* {
    margin: 0;
    padding: 0;
}

:root {
    --bgcol: rgb(146, 146, 146);
    --secbgcol: rgb(243, 185, 110);
    --col: rgb(196, 196, 196);
}

body{
    background-color: rgb(175, 175, 175);
}

nav {
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    background-color: var(--bgcol);
    width: 96vw;
    margin: 20px auto;
    border-radius: 9px;
    padding: 10px;
}

ul li {
    list-style: none;
    display: inline;
}

ul li button {
    background-color: var(--col);
    border-style: none;
    padding: 3px 9px;
    border-radius: 8px;
}

ul li button:hover {
    background-color: var(--secbgcol);
    cursor: pointer;
}
main{
    text-align: center;
}

.card {
    display: inline-block;
    margin: 20px;
    background-color: rgb(152, 152, 152);
    width: 250px;
    height: 320px;
    border-radius: 12px;
    text-align: center;
}


.card img {
    margin-top: 10px;
    border-radius: 12px;

}