* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif
}

body{
    border: 5px solid red;
    /* height: 750px;
    width: 100vw; */
}

.container{
    border: 3px solid yellowgreen;
    width: 1920px;
    margin: auto;
    height: 750px;
    
}
.header{
    border: 2px solid rgb(188, 188, 14);
    height: 80px;
}

.nav{
    border: 1px solid rgb(255, 55, 0);
    height: 80px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo{
    border: 1px solid black;
    height: 40px;
    width: 146px;
}
.button-container{
    border: 1px solid blue;
    /* height: 32px; */
}

.submit-button{
    background-color: red;
    color: white;
    padding: 0px 18px;
    border: none;
    border-radius: calc(0.25rem - 0.0625rem);
}

.button-container form{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: 32px;
}


/* 
.logo img{
    object-fit: contain;
} */